<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1>{{model.tagline}}</h1>
        <span class="meta">Posted by
        {{#link-to "profile" model.account.slug}}
          {{model.account.name}}
        {{/link-to}}
        on {{moment-format model.publishedAt 'll'}}</span>
      </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading">Executive Summary</h2>

        {{{model.executiveSummary}}}

        {{#if model.detail}}
          <h2 class="section-heading">Detail</h2>

          {{{model.detail}}}
        {{/if}}

        <p>Photographs by <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
      </div>
    </div>
  </div>
</article>
